<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/user/edit/{id}(id=${user.getUserId()})}">Edit account</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/transaction/history/{id}(id=${user.getUserId()})}">History <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href ="/user/exit">Logout</a>
            </li>

        </ul>
    </div>
</nav>

<center><label th:text = "${user.getName()}+' money transfers'"/>
<div th:each="operation : ${history}">
    <table>
        <tr>
            <td> From <label style="color: red" th:text="${operation.getFrom()}" /></td>
            <td> To <label style="color: red" th:text="${operation.getTo()}" /></td>
            <td> Money Amount <label style="color: red"th:text="${operation.getBalance()}+'tg'" /></td>
        </tr>
    </table>

</div></center>
</body>
</html>